In [1]:
import duckdb
import pandas as pd

In [6]:
sql_query = '''
show tables
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []

In [8]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  nomalize_names=True
)
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS
SELECT *
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  nomalize_names=True
)
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)
  #con.sql(sql_query_import_2)

BinderException: Binder Error: Invalid named parameter "nomalize_names" for function read_csv_auto
Candidates:
    hive_types_autocast BOOLEAN
    hive_types ANY
    union_by_name BOOLEAN
    hive_partitioning BOOLEAN
    filename BOOLEAN
    dtypes ANY
    auto_detect BOOLEAN
    sample_size BIGINT
    max_line_size VARCHAR
    dateformat VARCHAR
    columns ANY
    all_varchar BOOLEAN
    new_line VARCHAR
    rejects_recovery_columns VARCHAR[]
    header BOOLEAN
    types ANY
    skip BIGINT
    compression VARCHAR
    quote VARCHAR
    delim VARCHAR
    sep VARCHAR
    column_names VARCHAR[]
    buffer_size UBIGINT
    timestampformat VARCHAR
    normalize_names BOOLEAN
    ignore_errors BOOLEAN
    parallel BOOLEAN
    auto_type_candidates ANY
    rejects_limit BIGINT
    nullstr VARCHAR
    escape VARCHAR
    decimal_separator VARCHAR
    null_padding BOOLEAN
    names VARCHAR[]
    maximum_line_size VARCHAR
    rejects_table VARCHAR
    allow_quoted_nulls BOOLEAN
    column_types ANY

LINE 4: FROM read_csv_auto(
             ^